# Blacklist files/folders in same directory as the .gitignore file
#/*

# Whitelist some files
!.gitignore
!README.md
!account_data_template.txt

# Always ignore
.DS_Store
.RData
.Rhistory
.Rproj.user
.vscode


#Custom ignoring
account_data.txt
error_trades.txt
*.pdf
*.png
*.xml
*.zip
trades*.Rdata